# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
game

# Test executables
test_*
!test_*.c

# Debug files
*.dSYM/

# macOS specific
.DS_Store

# examples
/examples

# Web build artifacts
build/
raylib-wasm/
*.wasm
*.js
*.html.mem